@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");

/* =========================================
   TYPOGRAPHY SYSTEM
========================================= */

:root {
  --font-family: "Plus Jakarta Sans", sans-serif;

  --font-xs: 11px;
  --font-sm: 12px;
  --font-md: 14px;
  --font-lg: 16px;
  --font-xl: 18px;
  --font-2xl: 24px;
  --font-3xl: 32px;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
}

body {
  font-family: var(--font-family);
  color: var(--text-strong);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
  font-weight: var(--fw-bold);
}

p {
  margin: 0;
}

small {
  font-size: var(--font-sm);
}